@font-face {
    font-family: 'Nexa';
    src: url('fonts/nexa-bold.eot');
    src: url('fonts/nexa-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa-bold.woff') format('woff'),
         url('fonts/nexa-bold.ttf') format('truetype');
    font-weight: 700;
}
